#inventoryWindowSortButton
{
    font-family: 'Gentium Book Basic';
    font-size: 16px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #fff; 
    position: absolute;
    left: 175px;
    top: 241px;
    line-height: 16px;
}